#sidebar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-image: linear-gradient(220deg, transparent, var(--bg-color));
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgb(0 0 0 / 30%);
  padding: 6px 14px;
  transition: width .2s ease;
}

#sidebar.active {
  width: 240px;
}

.logo {
  color: var(--color-text);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  transition: all .2s ease;
}

#sidebar.active .logo {
  opacity: 1;

}

.logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_name {
  font-size: 20px;
  font-weight: 400;
}

#btnMenu {
  position: absolute;
  color: var(--color-text);
  cursor: pointer;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  transition: .1s ease-in-out;
}

#btnMenu:hover {
  background: var(--color-primary);
  color: var(--bg);
  border-radius: 12px;
box-shadow: 0 0 12px var(--color-primary);}

#sidebar.active #btnMenu {
  left: 90%;
}

#sidebar #nav_list {
  margin-top: 20px;
}

#sidebar #nav_list li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.tooltip {
  position: absolute;
  left: 110px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  height: 35px;
  width: 122px;
  color: var(--color-primary);
  line-height: 35px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: top .2s;
}

#sidebar.active .tooltip {
  left: 0;
  display: none;
}

#sidebar #nav_list li:hover .tooltip {
  top: 50%;
  opacity: 1;
}

#sidebar a {
  color: var(--color-text);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 5px auto;
  box-shadow: 0 0 .2rem var(--color-primary);
  border-radius: 12px;
  white-space: nowrap;
}

#sidebar li a:hover {
  color: var(--color-primary);
  box-shadow: 0 0 0 .2rem var(--color-primary);
}

#sidebar #nav_list i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

a#light {
  display: none;
}

.links_name {
  opacity: 0;
  pointer-events: none;

}

#sidebar.active #form_search h2,
#sidebar.active #form_search input,
#sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

#form_search {
  position: relative;
  /* transition: all .2s ease; */
}

#form_search h2 {
  color: var(--color-text);
  font-size: 24px;
  margin: 10px auto;
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease;
}

#form_search input {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  border: none;
  background: var(--bg-color);
  border-bottom: .2rem solid var(--color-primary);
  padding-left: 11px;
  padding-right: 56px;
  font-size: 18px;
  color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
  transition: box-shadow .2s;
}

#form_search input:focus {
  box-shadow: 0 0 0 .2rem var(--color-primary);
}

#btnSearch {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  z-index: 10;
  background: transparent;
  color: var(--color-text);
  border-color: transparent;
  border: .2rem solid transparent;
  border-bottom: .2rem solid var(--color-primary);
  border-bottom-right-radius: 12px;
  font-size: 22px;
  transition: border-radius .2s;
}

#btnSearch:hover {
  color: var(--bg-color);
  border: .2rem solid var(--color-primary);
  background: var(--color-primary);
  box-shadow: 0 0 15px var(--color-primary);
  border-radius: 12px;
}

#profile_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--color-text);
}

.profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  /* transition: all .2s ease; */
}

#sidebar.active .profile {

  background: var(--bg-color);
}

.profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

#sidebar.active .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 100%;
}

.name_job {
  margin-left: 10px;
}

.name {
  font-size: 15px;
  font-weight: 400;
}

.job {
  font-size: 12px;
}

#IAdmin {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  /* transition: all .2s ease; */
  background: var(--bg);
}

#IAdmin:hover {
  color: var(--color-primary);
}

#sidebar.active #IAdmin {
  left: 88%;
  background: none;
  color: var(--color-primary);
}

/* ************************************************ */

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 6;
  color: var(--color-text);
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  /* transition: all .2s ease; */
}

.modal.showModal {
  opacity: 1;
  pointer-events: auto;
  /* transition: all .2s ease; */
}

.titleModal {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.fa-xmark {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.fa-xmark:hover {
  color: var(--color-primary);
  text-shadow: 0 0 20px var(--color-primary);
}

#hideSidebar {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

#hideSidebar i {
  color: var(--color-text);
  font-size: 24px;
  cursor: pointer;
  transition: color .1s ease;
}

#hideSidebar i:focus,
#hideSidebar i:hover {
  color: var(--color-primary);
}

#sidebar.hide,
#hideSidebar.icon .fa-eye,
.fa-eye-slash {
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease;
}

#hideSidebar.icon .fa-eye {
  display: none;
}

#hideSidebar.icon .fa-eye-slash {
  opacity: .2;
  pointer-events: auto;
}