* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #09090A;
  --bg-color: #202024;
  --bg-color-fixed: #202024;
  --color-text: hsl(240, 9%, 89%);
  --color-text-fixed: hsl(240, 9%, 89%);
  --color-primary: #FF008E;
  --color-secundary: #FFCD1E;
  --img-background: url(../images/default-background.svg);
  --img-light: url(../images/default-light.svg);
  --img-range: url(../images/default-range.svg);
}

/* clears the 'X' from Edge */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  background-image: var(--img-light);
  background-size: cover;
  backdrop-filter: blur(250px);
  background-position: center;
  background-color: var(--bg);
}

#badge_content {
  position: relative;
  background-image: linear-gradient(220deg, transparent, var(--bg-color));
  width: 100vw;
  min-height: 812px;
  height: 100vh;
  border-radius: .8rem;
}

#badge_content::before {
  content: '';
  position: absolute;
  background: var(--img-background) center/cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;

}

.card {
  max-width: 260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  color: var(--color-text);
}

.avatar {
  width: 100%;
  margin: 10rem auto 0;
  position: relative;
}

#seal {
  position: absolute;
  bottom: 3.7rem;
  left: .2rem;
  z-index: 1;
}

#contImgUser {
  width: 12rem;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  display: inline-block;
}

#contImgUser img {
  width: 100%;
  box-shadow: 0 0 2rem var(--bg);
}

h2#userName {
  font-size: 1.5rem;
  margin-top: .5rem;
}

#userName span {
  word-wrap: break-word;
}

#badge_content a {
  color: var(--color-text);
  text-decoration: none;
  margin-top: 0.25rem;
  display: inline-flex;
  gap: 0.75rem;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#badge_content a:hover {
  color: var(--color-primary);
  text-shadow: 0 0 20px var(--color-primary);
}

#badge_content p {
  font-size: 1rem;
  margin-top: 1rem;
}

hr {
  width: 100%;
  margin: 1rem auto;
  height: .2rem;
  border: none;
  background-image: linear-gradient(161.24deg, var(--color-primary) -15.25%, var(--color-secundary) 110%);
  box-shadow: 0 0 10px var(--color-primary);
}

#contentInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.info h2 {
  font-size: 16px;
}

#contentTheme {
  display: inline-block;
  flex-direction: column;
  columns: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#contentTheme li {
  list-style: none;
  background: var(--bg-color);
  color: var(--color-text);
  display: inline-flex;
  flex-direction: column;
  columns: 1;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 10px;
  /* transition: all .2s ease; */
}

#contentTheme li:focus,
#contentTheme li:hover {
  background: var(--color-text);
  color: var(--bg);
}

.theme {
  width: 80px;
  height: 80px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 20px auto;
}

.theme.d {
  background-image: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 110%);
}

.theme.b {
  background-image: linear-gradient(161.24deg, #0047FF -15.25%, #57E5DC 110%);
}

.theme.g {
  background-image: linear-gradient(161.24deg, #00FF19 -15.25%, #57E5DC 110%);
}

.theme.p {
  background-image: linear-gradient(161.24deg, #D800B9 -15.25%, #8257E5 110%);
}