* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #09090A;
  --bg-color: #202024;
  --light: hsl(240, 9%, 89%);
  --colorPrimary: #FF008E;
  --colorSecundary: #FFCD1E;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Font fica mais suave */
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(./images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
  border-radius: .8rem;

}

.container {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--light);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar>img {
  width: 10rem;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h2#userName {
  font-size: 1.5rem;
  margin-top: .5rem;
}

a {
  color: var(--light);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: .1s ease-in-out;
}

a:hover {
  color: var(--colorSecundary);
  text-shadow: 0 0 20px var(--colorSecundary);
}

p {
  margin-top: 2rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 2px;
  border: none;
  background-image: linear-gradient(161.24deg, var(--colorPrimary) -15.25%, var(--colorSecundary) 110%);
  box-shadow: 0 0 5px var(--colorPrimary);
}

form#form {
  width: 100%;
  display: grid;
  gap: 1rem;
}

#form h2 {
  margin: 10px auto;
}

.input {
  position: relative;
}

#IUserGithub {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--light);
  color: var(--colorPrimary);
  border-radius: .5rem;
  outline: none;
  width: 100%;
  height: 30px;
  margin: auto;
  padding-left: 8px;
  transition: .1s ease-in;
}

#IUserGithub:focus {
  border-color: var(--colorPrimary);
}

#label {
  position: absolute;
  cursor: text;
  padding-left: 8px;
  color: var(--light);
  top: 0;
  bottom: 0;
  left: 0;
  transition: .1s ease-in;
}

#IUserGithub:focus+#label{
  top: -50%;
  z-index: 1;
  transition: .2s;
  color: var(--colorPrimary);
}

#label.active {
  top: -50%;
}

#btnSearch {
  width: 50%;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 18px;
  background: transparent;
  color: var(--light);
  border: 2px solid var(--colorSecundary);
  box-shadow: 0 0 5px var(--colorSecundary);
  border-radius: 5px;
  transition: .1s ease-in;
}


#btnSearch:hover,
#btnSearch:focus {
  color: var(--black);
  background: var(--colorSecundary);
  box-shadow: 0 0 15px var(--colorSecundary);
}

@media (min-width: 960px) {

  /* estilos versão desktop */
  body {
    background: url('./images/Desktop.svg') no-repeat center top;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main {
    position: relative;
    width: 358px;
    height: 540px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div.container {
    margin: auto;
    width: 100%;
    max-width: 25rem;
  }

  #faixa {
    background: url(./images/faixa.svg) no-repeat;
    width: 64px;
    height: 2000px;
    position: absolute;
    bottom: 520px;
    display: flex;
    z-index: 2;
  }

  #quebra {
    background: url(./images/quebra.svg) no-repeat;
    width: 5rem;
    height: .5rem;
    position: absolute;
    top: 17px;
    z-index: 0;
  }

  .avatar {
    margin: auto;
  }
}